{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Geocoding</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Geocoding/main.css' %}">
  </head>
  <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">

          <a class="navbar-brand" href="{% url 'home' %}">Home</a>
          <a class="navbar-brand" href="{% url 'admin:index' %}">Admin</a>
          <a class="navbar-brand" href="#">Register</a>

        </div>
      </nav>


        <h2>Get Latitude and Longitude</h2>
        <h4>Please upload your file here!</h4>
        <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="custom-file">
          <input type="file" title="Upload excel file" name="excel_file" required="required">
          <p><input type="submit" value="Upload"></p>
        </div>
        </form>





  </body>
</html>
